<h1>About</h1>
<p>
      Developing<a href="http://www.railstutorial.org/"><em>Ruby on RailsProject</em></a> by refering
      <a href="http://www.railstutorial.org/book">book</a> and
      <a href="http://screencasts.railstutorial.org/">screencast series</a>
      that teach web development with
      <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      This is the beginner tutorial.
    </p>
  