<div class="center jumbotron">
<h1> Pioneer<h1>
<h2>
    This is the home page 
	<a href="http://www.google.com/">Ruby on Rails Project</a>
	Pioneer.
  </h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("ruby-on", class: "img-responsive center-block",alt: "Rails logo"),'http://www.google.com' %>
