<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= render 'layouts/shim' %>
<!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>  
  <%= render 'layouts/header' %>
  <div class="container">
<% flash.each do |message_type, message| %>
<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
	  
        <%= link_to "Ruby", root_path, id: "logo" %>

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">

      <%= yield %>
	   <%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>